<div class="container">
  <div class="maincontent">

<h1 class="title">Password Generator</h1>
<div class="length">
  <label > Enter Length: </label>
<input  class="input is-primary"  (input)="onChangeLength($event.target.value)" />

</div>

<div class="length">
  <label  class="checkbox" > Use Letters:  </label>
<input type="checkbox" (change)="onChangeLetters()"  />
</div>
<div class="length">
  <label > Use Numbers: </label>
<input type="checkbox" (change)="onchangeNumbers()"/>
</div>
<div class="length">
  <label > Use Symbols: </label>
<input type="checkbox" (change)="onChangeSymbols()"/>
</div>
<div class="length">
  <button (click)="onButtonClick() " [disabled]="!(length && (includeSymbols||includeLetters||includeNumbers))" class="button is-primary">
    Generate</button>
</div>

<div *ngIf="password" class="length">
  <label > Your password is: </label>
<input [value]="password"    class="input is-primary"  />
</div>

</div>
</div>
